<main>
    <section class="portfolio-section">
        <h2 class="section-title">PROJECTS</h2>
        
        <div class="portfolio-wrapper">
            <figure class="portfolio-item hover-box" *ngFor="let project of projects">
                <img src="{{ project.image }}" alt="project" class="portfolio-item-img">
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">{{ project.title }}</h5>
                    <p class="portfolio-item-description">{{ project.description }}</p>
                    <p class="portfolio-item-technology">{{ project.technology.join(', ') }}</p>
                    <p class="portfolio-item-years">{{ project.years.join(', ') }}</p>

                </figcaption>
            </figure>
        </div>
    </section>
</main>